CS/FactoryMethod/obj/*
CS/FactoryMethod/bin/*

CS/AbstractFactory/obj/*
CS/AbstractFactory/bin/*

CS/Builder/obj/*
CS/Builder/bin/*

CS/Prototype/obj/*
CS/Prototype/bin/*

CS/Singleton/obj/*
CS/Singleton/bin/*

CS/Adapter/obj/*
CS/Adapter/bin/*

